In [1]:
'''1.Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of 
integers only.'''
def filterlist(l):
    for i in range(len(l)-1,-1,-1):
        if type(l[i])==int:
            continue
        else:
            l.pop(i)
    return l

In [2]:
filterlist([1, 2, 3,"a","b", 4])

[1, 2, 3, 4]

In [3]:
filterlist(["A",0,"Edabit",1729,"Python","1729"])

[0, 1729]

In [4]:
filterlist(["Nothing","here"])

[]

In [5]:
'''2.Given a list of numbers, create a function which returns the list but with each element's index in the list added to
itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...'''
def addindexes(l):
    for i in range(len(l)):
        l[i]+=i
    return l

In [6]:
addindexes([0,0,0,0,0])

[0, 1, 2, 3, 4]

In [7]:
addindexes([1,2,3,4,5])

[1, 3, 5, 7, 9]

In [8]:
addindexes([5,4,3,2,1])

[5, 5, 5, 5, 5]

In [9]:
'''3.Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to 
the nearest hundredth. See the resources tab for the formula.'''
def conevolume(h,r):
    v=(22*r**2*h)/(3*7)
    return round(v,2)

In [10]:
conevolume(3,2)

12.57

In [11]:
conevolume(15,6)

565.71

In [12]:
conevolume(18,0)

0.0

In [13]:
'''This Triangular Number Sequence is generated from a pattern of dots that form a triangle.The first 5 numbers of the sequence,
or dots, are:1, 3, 6, 10, 15 This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.Write a function that gives the number of dots with its corresponding triangle number of the sequence.'''
def triangle(n):
    t=(n*(n+1))//2
    return t

In [14]:
triangle(1)

1

In [15]:
triangle(6)

21

In [20]:
triangle(215)

23220

In [16]:
'''Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.'''
def missingnum(l):
    n=list(range(1,11))
    for i in n:
        if i not in l:
            return i
        else:
            continue

In [17]:
missingnum([1,2,3,4,6,7,8,9,10])

5

In [18]:
missingnum([7,2,3,6,5,9,1,4,8])

10

In [19]:
missingnum([10,5,1,2,4,6,8,3,9])

7